<mat-card>
  <mat-card-title>
    Chat
  </mat-card-title>
  <div style="height: 500px; overflow: auto; overflow-x:hidden;">
    <mat-list>
      <ng-container *ngFor="let message of messages">

        <mat-list-item>

          <div style="width:100%">
            <strong>{{message.user.username}}:</strong>
            {{message.message}}
            <br />
            <div style="text-align: right;">
              <em>
                {{message.createdAt | date :'medium'}}
              </em>
            </div>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>
      </ng-container>

    </mat-list>
  </div>
  <div>
    <mat-form-field>
      <input matInput name="message" placeholder="Type a Message..." [(ngModel)]="formData.message" required
        (keyup.enter)="onEnter()" />
    </mat-form-field>
  </div>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
