body {
  background: #bbdefb !important;
  color: #555 !important; }

.userItem {
  padding: 10px 5px;
  font-size: 15px; }

.userItem .fa-user-circle {
  font-size: 1.5em; }

.userItem .checked .fa-user-circle {
  color: #99b433; }

.message {
  color: #555;
  padding: 5px; }

.message.log {
  font-style: italic;
  font-size: 1.2em; }

.message .username {
  font-weight: bold;
  font-size: 1.2em; }

.suggestion {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #bebebe;
  display: table;
  width: 100%; }

.suggestion .suggestion-wrapper {
  display: table-row;
  width: 100%;
  cursor: pointer;
  background: lightgrey; }

.suggestion-wrapper.checked {
  background: #dcf5e8; }

.suggestion img {
  max-width: 150px;
  max-height: 150px; }

.suggestion .image-container {
  padding: 15px;
  width: 165px;
  height: 165px;
  background: #555;
  display: table-cell;
  text-align: center; }

.suggestion .text-container {
  display: table-cell;
  vertical-align: top;
  padding: 10px; }

/* Create the animation blocks */
@keyframes pop {
  from {
    transform: translate(0px, -10px); }
  to {
    transform: translate(0px, 0px); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* Spinning, gradient circle; CSS only! */
.userStatus {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: lightslategray;
  border-radius: 50%; }

.active {
  background: lightgreen; }

.active {
  animation-name: pop;
  animation-duration: 0.3s;
  /* 3 seconds */
  animation-iteration-count: 1;
  animation-timing-function: linear; }
