<mat-card>
  <mat-card-title>
    Suggestions
  </mat-card-title>
  <mat-action-list>
    <mat-list-item *ngFor="let suggestion of suggestions">

      <app-suggestion-list-item [suggestion]="suggestion" (suggestionSelected)="suggestionSelected($event)">
      </app-suggestion-list-item>
    </mat-list-item>
  </mat-action-list>
  <div>
    <mat-form-field>
      <input matInput name="message" placeholder="Enter a suggestion..." [(ngModel)]="formData.suggestion" required
        (keyup.enter)="onEnter()" />
    </mat-form-field>
  </div>
  <div>
    <mat-action-list>
      <mat-list-item *ngFor="let session of sessions;" (click)="selectedSession = session">
        <span *ngIf="selectedSession == session">*</span>

        Session
      </mat-list-item>
    </mat-action-list>

    <button mat-button (click)="addSession()">Add Session</button>
  </div>
  <div>
    Selected Movies
    <mat-chip-list>
      <mat-chip color="primary" *ngFor="let sugg of selectedSuggestions">
        {{sugg.suggestion}}
      </mat-chip>
      <button mat-button (click)="sendVotes()" [disabled]="!selectedSession">
        Send Votes
      </button>

    </mat-chip-list>
    <button mat-button (click)="calculateVotes()" [disabled]="!selectedSession">
      Calculate Votes
    </button>
  </div>
</mat-card>

<tsun-vote-results *ngIf="calculatedVotes" [calculatedVotes]="calculatedVotes"> 
</tsun-vote-results>