<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Smovies Voting</title>
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="Styles/style.css">
	<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="Styles/thumbs.css">
	<link rel="stylesheet" href="Styles/bootstrap.min.css">
	<script type="text/html" id="templatePrimary">
		
		<div>
            <div class="form-group">
                UserName<br />
                <input type="text" v-model="currentUser.Username" />

            </div>
            <div class="form-group">
                FirstName<br />
                <input type="text"  v-model="currentUser.FirstName" />

            </div>
            <div class="form-group">
                LastName<br />
                <input type="text"  v-model="currentUser.LastName" />

            </div>
            <div class="form-group">
                Password<br />
                <input type="password" v-model="currentUser.Password"  />

            </div>
            <button type="button" @click.prevent="register">Register</button>
		</div>

	</script>
</head>

<body>
	<div id="divPrimary"></div>


	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/Scripts/vue.js"></script>
    <script src="/Scripts/mainViewModel.js"></script>
	<script src="/Scripts/main.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
        new Vue({
            el: "#divPrimary",
            template: "#templatePrimary",
            data: {
                currentUser: {
                    FirstName: '',
                    LastName: '',
                    Username: '',
                    Password: ''
                }
            },
            methods: {
                register: function () {
                    $.post("/users", this.currentUser, function () {
                        console.log("SUCCESS");
                    });
                }
            },
            created: function () {
            }
        });

	</script>
	<!-- <script src="main.js"></script> -->
</body>

</html>