<div>
  <mat-card>
        <mat-card-title>
            Sign In
        </mat-card-title>
    <form>
      <mat-form-field>
        <input matInput name="username" placeholder="Username" [(ngModel)]="formData.username" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput name="password" placeholder="Password" type="password" [(ngModel)]="formData.password" required/>
      </mat-form-field>

      <button type="submit" (click)="signIn()" mat-raised-button>Log In</button>
      <button routerLink="/register" mat-raised-button>Register</button>
      <button type="submit" (click)="signInWithFB()" mat-raised-button>Facebook</button>

    </form>
  </mat-card>
</div>
